<header class="topbar">
  <div class="topbar-left">
    <button class="menu-toggle" aria-label="Toggle menu">☰</button>
    <a href="{{ '/' | url }}" class="logo-link" style="display: inline-block;">
      {% include "ctrl-all-logo.svg" %}
    </a>
  </div>

  <div class="topbar-right">
    <nav class="topnav">
      <a href="{{ '/about/' | url }}" class="{% if active == 'about' %}active{% endif %}">About</a>
      <a href="{{ '/contact/' | url }}" class="{% if active == 'contact' %}active{% endif %}">Contact</a>
      <a href="#" class="dropbtn">Share</a>

      <!-- Language Toggle -->
      <div class="locale-control">
        <span class="locale-label">Language</span>
        <label class="locale-toggle" aria-label="Spelling preference">
          <input type="checkbox" id="locale-toggle" />
          <span class="slider"></span>
        </label>
      </div>


      <!-- 🔍 Search Bar -->
      <div class="search-wrapper">
        <input type="text" id="searchInput" placeholder="Search..." autocomplete="off" />
        <ul id="suggestions" class="suggestions-list"></ul>
      </div>


    </nav>
  </div>
</header>
